<h3>This is the great file</h3>

<%Blogposts.forEach(function(blogpost){%>
    <img src="<%=blogpost.image%>">
    <span>Hihihi</span>
<%});%>

<div class="header" style="background-image:url('<%=blogpost.image%>')">
    <h4>Welcome here</h4>
</div>